<div class="page-content">
   <nav class="page-breadcrumb">
      <ol class="breadcrumb">
         
         <li class="breadcrumb-item active" aria-current="page"><h5>Covid Results</h5></li>
      </ol>
   </nav>
   <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">Data Table</h6>
               <div class="table-responsive">
                  <table id="example" class="table">
                     <thead>
                        <tr>
                           <th>patient ID</th>
                           <th>Result</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        
                        <tr>
                           <td>1218</td>
                          <th>Result</th>
                        </tr>
                         <tr>
                            <td>1228</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1225</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1240</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1250</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1562</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5145</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5454</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5486</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5644</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5454</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>4553</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1231</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5455</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5515</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>1551</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>5565</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>2328</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>2117</td>
                           <th>Result</th>
                        </tr>
                         <tr>
                           <td>3269</td>
                           <th>Result</th>
                        </tr>
                        
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
     $('#example').DataTable();
     } );
</script>



                   