<div class="page-content">
   <nav class="page-breadcrumb">
      <ol class="breadcrumb">
         
         <li class="breadcrumb-item active" aria-current="page"><h5>Blood Results</h5></li>
      </ol>
   </nav>
   <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">Data Table</h6>
               <div class="table-responsive">
                  <table id="example" class="table">
                     <thead>
                        <tr>
                           <th>patient ID</th>
                           <th>blood Group</th>
                           <th>Result</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        
                        <tr>
                           <td>1218</td>
                           <td>O+</td>
                          <th>Result</th>
                        </tr>
                       
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
     $('#example').DataTable();
     } );
</script>



                   