
<div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Welcome Public  logged in <%= current_user.name.nil? ? current_user.email : current_user.name %></h4>
        </div>
    </div>
</div>


