<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            <span>Public</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a href="<%=authenticated_root_path%>" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item nav-category">Components</li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="collapse" href="#uiComponents" role="button" aria-expanded="false" aria-controls="uiComponents">
                        <i class="link-icon" data-feather="feather"></i>
                        <span class="link-title">Your Pages</span>
                        <i class="link-arrow" data-feather="chevron-down"></i>
                    </a>
                    <div class="collapse" id="uiComponents">
                        <ul class="nav sub-menu">
                            <ul class="nav sub-menu">
                                
                                <li class="nav-item">
                                    <a href="<%= covid_vaccination_path %>" class="nav-link">Covid Vaccination</a>
                                </li>
                                <li class="nav-item">
                                    <a href="<%= blood_bank_path %>" class="nav-link">Blood Bank</a>
                                </li>
                                 
                               
                            </ul>
                        </ul>
                    </div>
                </li>
                
                
                
                
                
                
                <li class="nav-item nav-category">Docs</li>
                <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">
                    <i class="link-icon" data-feather="hash"></i>
                    <span class="link-title">Documentation</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

       
   